.medium-editor-toolbar li .medium-editor-button-active, .medium-editor-toolbar li button:hover {
   background-color: #3c6eb9;
   color: #ffffff;
   border: 0;
   border-right: 0 !important;
}

.medium-editor-toolbar li button{
    height: 30px;
    width: 30px;
    padding: 0px !important;
    border-left:1px solid black;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    border-right:0px;
    background-color: white;
}
.medium-editor-button-last{
    border:1px solid gray;
    border-right:1px solid black !important;
}

.medium-editor-toolbar-actions pre {
    margin:0;
}
.medium-toolbar-arrow-under:after {
    height: 10px !important;
    top: 55%;
    transform: rotate(225deg);
    z-index: -1;
    border-color:#3c6eb9;;
}
.medium-editor-anchor-preview a{
    color:black !important;
}
#medium-editor-toolbar-form-anchor-1.medium-editor-toolbar-form-active{
    display: flex !important;
    align-items: center;
    background-color: white;
    border: 1px solid black;
}
.medium-toolbar-arrow-over:before{
    border-color: #3c6eb9;
}
