
/*LOGIN FORM*/
.login_form.modal {
	text-align: center;
	border-radius: 0;
	line-height: 18px;
	padding: 0;
	font-size: 16px;
	max-width: 400px;
}

.login_form h3 {
	margin: 0;
	text-align: center;
	padding: 10px;
	color: #fff;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #003e1c),color-stop(1, #017c1a));
}

.login_form.modal p { padding: 15px 20px; border-bottom: 1px solid #ddd; margin: 0;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #eee),color-stop(1, #fff));
	overflow: hidden;

}
.login_form.modal p:last-child { border: none; }
.login_form.modal p label { float: left; font-weight: bold; color: #333; font-size: 15px; width: 110px; line-height: 22px; }
.login_form.modal p input[type="text"],
.login_form.modal p input[type="password"] {
	padding: 7px;
	border: 1px solid #ddd;
	width: 160px;
}
.login_form.modal p input:focus{
	border: 1px solid #003e1c  !important;
}
.login_form button{
	margin-bottom: 10px;
	border: 1px solid #003e1c;
	font-size: 16px;
	padding: 8px 52px;
	width: 50%;
	cursor: pointer;
	background-color: rgb(219 243 217 / 40%);
	border-radius: 4px;
	box-shadow: 1px 1px 3px 1px rgb(8 96 0 / 60%);
}
#reg-form button{
	padding: 8px 13px;
}
.error{
	color:red;
}
.error_feedback{
	color:red;
}

/* FORM FIELDS */

.text-field__label {
	display: block;
	margin-bottom: 0.25rem;
}

.text-field__input {
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #bdbdbd;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.text-field__input::placeholder {
	color: #212529;
	opacity: 0.4;
}

.text-field__input:focus {
	color: #212529;
	background-color: #fff;
	border-color: #bdbdbd;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__input:disabled,
.text-field__input[readonly] {
	background-color: #f5f5f5;
	opacity: 1;
}
.text-field_floating-2 {
	position: relative;
	width:80%;
	margin:30px auto 20px auto;
}

.text-field_floating-2 .text-field__input {
	height: calc(2.5rem + 2px);
	padding: 0.5rem 0.75rem;
}

.text-field_floating-2 .text-field__label {
	position: absolute;
	top: 50%;
	left: 0.3125rem;
	display: flex;
	transform: translateY(-50%);
	pointer-events: none;
	border: none;
	background-color: #fff;
	color: #757575;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	transition: top 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.text-field_floating-2 .text-field__input::-moz-placeholder {
	color: transparent;
}

.text-field_floating-2 .text-field__input::placeholder {
	color: transparent;
}

.text-field_floating-2 .text-field__input:focus~.text-field__label,
.text-field_floating-2 .text-field__input:not(:placeholder-shown)~.text-field__label {
	top: 0;
	transform: translateY(-50%) scale(0.75);
}


/*PRODUCT CARD*/

#prod-card button{
	padding: 8px 40px;
}

/*NOTICE FORM*/
#login-notice{
	padding: 20px;
	text-align: center;
}
#login-notice div{
	color:red;
	margin-bottom: 20px;
}

#login-notice button{
	padding: 10px;
}